@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-white dark:bg-gray-950;

	width: 90%; /* Body width is 70% of the viewport */
	min-height: 100vh; /* Ensure full viewport height */
	margin: 0 auto; /* Center the body horizontally */
	display: flex;
	flex-direction: column;
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		color-scheme: dark;
	}
}
